// FONT
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Syne:wght@700&display=swap');

$header-height: 3.5rem;

// ======= COLORS =======

$Text:#3C2415;
$Heading: #FF9B3B;
$Background: #EFEFEF;
$Gradient: #E7A63F;
$bgProduk: #DEDEDE;

// ======= TYPHOGRAPHY =======

$body-font: 'Poppins', sans-serif;
$second-font: 'Syne', sans-serif;
$big-font-size: 2.25rem;
$normal-font-size: .398rem;

// ======= RESPONSIVE TYPOGRAPHY =======


$big-font-size: 3.5rem;
$normal-font-size: 1rem;